---
layout: default

social-icons:
  - title: Email
    url: mailto:hello@alexlinek.com
    class: email
  - title: LinkedIn
    url: https://www.linkedin.com/in/alexlinek
    class: linkedin
  - title: GitHub
    url: https://github.com/alexlinek
    class: github
  - title: Dribbble
    url: https://dribbble.com/alexlinek
    class: dribbble
  - title: CodePen
    url: https://codepen.io/alinek/
    class: codepen
---

<div id="home-body">
  <div class="section">
    <div id="intro-text" class="group">
      <div class="span1-1">
        <h2>Hello, North Street team!</h2>
        <p class="intro-p">I’m Alex. Thanks for taking a look at my site! I’ve been building custom WordPress sites in an agency environment for ~5 years, and I’ve been tinkering with websites in general for almost a decade. For more details on my background and relevant skills...</p>
        <a href="/assets/pdfs/LinekResume2021.pdf" class="btn-primary" target="_blank">
          Check Out My Résumé
        </a>
      </div>
    </div>
  </div>

  <div class="section">
    {% include case-studies-northst.html %}
  </div>

  <!-- <div class="section">
    {% include quals-northst.html %}
  </div> -->

  <!-- <div class="section">
    {% include what-else.html %}
  </div> -->

  <div class="section">
    {% include connect-new.html %}
  </div>

</div>
