---
layout: default

social-icons:
  - title: Email
    url: mailto:hello@alexlinek.com
    class: email
  - title: LinkedIn
    url: https://www.linkedin.com/in/alexlinek
    class: linkedin
  - title: GitHub
    url: https://github.com/alexlinek
    class: github
  - title: Dribbble
    url: https://dribbble.com/alexlinek
    class: dribbble
  - title: CodePen
    url: https://codepen.io/alinek/
    class: codepen
---

<div id="home-body">
  <div class="section">
    <div id="intro-text" class="group">
      <div class="span1-1">
        <h2>Hey there!</h2>
        <p class="intro-p">I’m a web designer & developer with 8+ years of experience conceptualizing and delivering effective, user-friendly solutions.</p>
        <a href="assets/pdfs/LinekResume2019.pdf" class="btn-primary" target="_blank">
          Check Out My Résumé
        </a>
      </div>
    </div>
  </div>

  <div class="section">
    {% include feat-work.html %}
    {% include feat-cont.html %}
  </div>

  <!-- <div class="section">
    {% include what-else.html %}
  </div> -->

  <div class="section">
    {% include connect.html %}
  </div>

</div>
