<div class="group">
  <div class="span1-1">
    <h1>Featured Work</h1>
    <p class="intro-p">Here are some examples of sites I've built.<br/>The most recent was <a href="https://franklin-madison.com/" target="_blank" rel="noopener">Franklin Madison</a> which launched <time class="timeago" datetime="2021-03-01T09:30:00Z">March 1, 2021</time>.
  </div>

  <ul class="case-studies span1-1">
    <li>
      <a href="https://cityfoundrystl.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/cf.jpg" alt="City Foundry St. Louis">
        </div>
        <h3>City Foundry</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>Animated grid menu and the hover state on the buttons. Plus, there are two different navigational structures (for pre- and post- opening) that the client can easily toggle.</p>
      <h5>Recognition:</h5>
      <p>
        <a href="https://www.commarts.com/webpicks/city-foundry-st-louis" target="_blank" rel="noopener">CommArts Webpick</a>,&nbsp; <a href="https://www.awwwards.com/sites/city-foundry-stl" target="_blank" rel="noopener">Awwwards Nominee</a>,&nbsp;
        <a href="https://www.atomicdust.com/service-industry-advertising-awards/" target="_blank" rel="noopener">2020 SIA Awards Gold</a>,&nbsp;
        <a href="https://www.atomicdust.com/atomicdust-two-dotcomm-web-design-awards/" target="_blank" rel="noopener">2020 dotCOMM Gold award</a>,&nbsp;
        <a href="https://www.atomicdust.com/atomicdust-earns-five-2020-marcom-awards/" target="_blank" rel="noopener">2020 MarCom Honorable Mention</a>,&nbsp;
        <a href="https://www.atomicdust.com/seven-american-web-design-awards/" target="_blank" rel="noopener">2020 GDUSA Web Design Award</a>
      </p>
    </li>
    <li>
      <a href="https://www2.aaoinfo.org/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/aao.jpg" alt="AAO">
        </div>
        <h3>American Association of Orthodontists</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>SSO and members-only content. Most of this site is accessible only to AAO members, and there are several other AAO sites that use the same IdP. Integrating SSO to make the experience seamless was crucial, as well as making it easy to add different content for members or non-members on any page.</p>
      <p>Flexibility and scalability were also important for this large site; there are over 100 standalone pages and ~700 posts, all built with blocks.</p>
    </li>
    <li>
      <a href="https://muellerprost.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/mp.jpg" alt="Mueller Prost">
        </div>
        <h3>Mueller Prost</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>Dynamic filtering/search on the <a href="https://muellerprost.com/people/" target="_blank" rel="noopener">team</a> page. HubSpot integration. This is another site with tons of flexibility and only a few page templates.</p>
    </li>
    <li>
      <a href="https://lionforgelabs.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/lfl.jpg" alt="Lion Forge Labs">
        </div>
        <h3>Lion Forge Labs</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>CSS & GSAP animations (e.g. the telescope follows your cursor). Individual case study color palettes are customizable.</p>
    </li>
    <li>
      <a href="https://www.directelectron.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/de3.jpg" alt="Direct Electron">
        </div>
        <h3>Direct Electron</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>Editable, optional vertical text annotations on pages like <a href="https://www.directelectron.com/biological-cryo-em/" target="_blank" rel="noopener">this one</a>. Plus, gradients everywhere (e.g optional dropdown items, variable backgrounds, and gradient text)!</p>
    </li>
    <li>
      <a href="https://boathousestl.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/bhfp2.jpg" alt="The Boathouse at Forest Park">
        </div>
        <h3>The Boathouse at Forest Park</h3>
      </a>
      <h5>Features of Note:</h5>
      <p><a href="https://boathousestl.com/menu/" target="_blank" rel="noopener">Menu</a> sections that have slightly different layouts while still using the same module, so the client can easily update and restructure without reentering content.</p>
    </li>
  </ul>
</div>
<div class="group">
  <div class="span1-2 award-proj">
    <h1>A few other recent award-winning projects:</h1>
    <h3><a href="https://claimchoice.com/" target="_blank" rel="noopener">Claim Choice</a></h3>
    <p><a href="https://enter.marcomawards.com/entry/claimchoice-website-design/" target="_blank" rel="noopener">2020 MarCom Gold</a></p>
    <br/>
    <h3><a href="https://evolve24.com/" target="_blank" rel="noopener">evolve24</a></h3>
    <p><a href="https://www.atomicdust.com/seven-american-web-design-awards/" target="_blank" rel="noopener">2020 GDUSA Web Design Award</a></p>
    <br/>
    <h3><a href="https://screenshield.gg/" target="_blank" rel="noopener">EyePromise ScreenShield Pro</a></h3>
    <p><a href="https://www.atomicdust.com/seven-american-web-design-awards/" target="_blank" rel="noopener">2020 GDUSA Web Design Award</a>,&nbsp; <a href="https://www.atomicdust.com/atomicdust-four-health-wellness-awards/" target="_blank" rel="noopener">2019 GDUSA Health + Wellness Award</a></p>
  </div>
  <div class="span1-2 ft-arts">
    <h1>Latest Article</h1>
    <ul>
      <li>
        <h3>Hidden Features in Web Design</h3>
        <p>How fun features can enhance UX and reinforce branding</p>
        <a href="https://www.atomicdust.com/hidden-features-web-design-wheelhouse/" class="btn-secondary" target="_blank" rel="noopener">
          Read Article
        </a>
      </li>
      <li>
        <p>(I wrote a lot more articles for <a href="https://seekbrevity.com/" target="_blank" rel="noopener">Brevity</a>, but it looks like the site is down these days. I'm happy to provide text copies if you'd like to read more!)</p>
      </li>
    </ul>
  </div>
</div>
