<div class="group">

  <div class="span1-1">
    <h1>Featured Work</h1>
  </div>

  <ul class="case-studies span1-1">
    <li>
      <a href="http://cityfoundrystl.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/cf.jpg">
        </div>
        <h3>City Foundry</h3>
      </a>
      <!-- <h5>Features of Note:</h5>
      <p>Animated grid menu and the hover state on the buttons.</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>A site flexible enough to work for both pre-opening and post-opening content. Also WP 5.0/<a href="https://wordpress.org/gutenberg/" target="_blank">Gutenberg</a>.</p>
      <p>This is the first site I built using Gutenberg's custom blocks. There are two different navigational structures (for pre- and post- opening) that the client can easily toggle.</p> -->
      <h5>Recognition:</h5>
      <p><a href="https://www.commarts.com/webpicks/city-foundry-st-louis" target="_blank">Communication Arts Webpick</a>,&nbsp; <a href="https://www.awwwards.com/sites/city-foundry-stl" target="_blank">Awwwards Nominee</a></p>
    </li>
    <li>
      <a href="https://muellerprost.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/mp.jpg">
        </div>
        <h3>Mueller Prost</h3>
      </a>
    </li>
    <li>
      <a href="http://lionforgelabs.com//" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/lfl.jpg">
        </div>
        <h3>Lion Forge Labs</h3>
      </a>
      <!-- <h5>Features of Note:</h5>
      <p>CSS & GSAP animations (e.g. the telescope follows your cursor)</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Individual case study color palettes needed to be customizable by client.</p>
      <p>Figured out a way to get those custom variables to translate through various PHP, JS, and Sass files dynamically</p> -->
    </li>
    <li>
      <a href="http://www.directelectron.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/de3.jpg">
        </div>
        <h3>Direct Electron</h3>
      </a>
      <!-- <h5>Features of Note:</h5>
      <p>Editable, optional vertical text annotations on pages like <a href="http://www.directelectron.com/biological-cryo-em/" target="_blank">this one</a>.</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Gradients everywhere! Optional dropdown items, variable backgrounds, and gradient text.</p>
      <p>Learned the most cross-browser friendly ways to display gradient text with gradeful degradation in place for those that don't support it. So glad that Sass mixins exist!</p> -->
    </li>
    <li>
      <a href="http://boathousestl.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/bhfp2.jpg">
        </div>
        <h3>The Boathouse at Forest Park</h3>
      </a>
      <!-- <h5>Features of Note:</h5>
      <p>There’s a subtle little anchor in the footer that “sinks” when you scroll into that part of the page</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Creating similar <a href="http://boathousestl.com/menu/" target="_blank">menu</a> sections that have slightly different layouts without building a whole new module</p>
      <p>A bunch of smart conditional statements that resulted in a very clean, intuitive client experience for building out pages</p> -->
    </li>
    <li>
      <a href="https://financialnetworkinc.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/fni2.jpg">
        </div>
        <h3>Financial Network Inc.</h3>
      </a>
      <!-- <h5>Features of Note:</h5>
      <p>The hovering Request Demo button on the right disappears if there’s another demo call to action</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Video player in Blueprint LOS menu called for a custom play button, color overlay, parallelogram graphic, and dynamic play/pause functionality.</p>
      <p>Built a custom player that handled those elements, including play/pause functionality when the whole menu was opened or closed.</p> -->
    </li>
  </ul>

  <div class="span1-1">
    <p class="intro-p">If you’re interested in seeing more sites I've developed (or any of my design work, illustrations, fun code snippets, etc.), please don’t hesitate to <a href="#connect">reach out</a>.</p>
  </div>

</div>
