<div class="group">
  <div class="span1-1">
    <h1>Featured Work</h1>
  </div>

  <ul class="case-studies span1-1">
    <li>
      <a href="https://franklin-madison.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/fm.jpg" alt="Franklin Madison Website">
        </div>
        <h3>Franklin Madison</h3>
      </a>
    </li>
    <li>
      <a href="https://hipointedrivein.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/hpdi.jpg" alt="Hi-Pointe Drive-In">
        </div>
        <h3>Hi-Pointe Drive-In</h3>
      </a>
    </li>
    <li>
      <a href="https://www2.aaoinfo.org/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/aao.jpg" alt="AAO">
        </div>
        <h3>American Association of Orthodontists</h3>
      </a>
    </li>
    <li>
      <a href="https://wheelhousestl.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/wh-1.jpg" alt="Wheelhouse STL">
        </div>
        <h3>Wheelhouse STL</h3>
      </a>
    </li>
    <li>
      <a href="https://claimchoice.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/cc.jpg" alt="ClaimChoice">
        </div>
        <h3>ClaimChoice</h3>
      </a>
    </li>
    <li>
      <a href="https://boathousestl.com/" target="_blank" rel="noopener">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/bhfp2.jpg" alt="The Boathouse at Forest Park">
        </div>
        <h3>The Boathouse at Forest Park</h3>
      </a>
    </li>
  </ul>
</div>

<div class="group">
  <div class="span1-2 award-proj">
    <h1>Site Awards</h1>
    <ul class="award-list">
      <li>
        <h3><a href="https://franklin-madison.com" target="_blank" rel="noopener">Franklin Madison</a></h3>
        <p>
          <a href="https://www.atomicdust.com/2022-dotcomm-awards/" target="_blank" rel="noopener">2022 dotCOMM Gold</a>,&nbsp;
          <a href="https://www.atomicdust.com/2021-marcom-awards/" target="_blank" rel="noopener">2021 MarCom Gold</a>
        </p>
      </li>
      <li>
        <h3><a href="https://www2.aaoinfo.org/" target="_blank" rel="noopener">AAO</a></h3>
        <p>
          <a href="https://www.atomicdust.com/atomicdust-four-w3-awards/" target="_blank" rel="noopener">2022 w3 Awards Silver Association Website</a>,&nbsp;
          <a href="https://www.atomicdust.com/2022-gdusa-digital-design-awards/" target="_blank" rel="noopener">2022 GDUSA Digital Design Award</a>,&nbsp;
          <a href="https://www.atomicdust.com/2022-dotcomm-awards/" target="_blank" rel="noopener">2022 dotCOMM Honorable Mention</a>,&nbsp;
          <a href="https://www.atomicdust.com/2021-gdusa-web-design-awards/" target="_blank" rel="noopener">2021 GDUSA Web Design Award</a>
        </p>
      </li>
      <li>
        <h3><a href="https://claimchoice.com/" target="_blank" rel="noopener">ClaimChoice</a></h3>
        <p>
          <a href="https://www.atomicdust.com/2021-gdusa-web-design-awards/" target="_blank" rel="noopener">2021 GDUSA Digital Design Award</a>,&nbsp;
          <a href="https://enter.marcomawards.com/entry/claimchoice-website-design/" target="_blank" rel="noopener">2020 MarCom Gold</a>
        </p>
      </li>
      <li>
        <h3><a href="https://www.commarts.com/webpicks/city-foundry-st-louis" target="_blank" rel="noopener">City Foundry</a></h3>
        <p>
          <a href="https://www.commarts.com/webpicks/city-foundry-st-louis" target="_blank" rel="noopener">CommArts Webpick</a>,&nbsp; <a href="https://www.awwwards.com/sites/city-foundry-stl" target="_blank" rel="noopener">Awwwards Nominee</a>,&nbsp;
          <a href="https://www.atomicdust.com/service-industry-advertising-awards/" target="_blank" rel="noopener">2020 SIA Awards Gold</a>,&nbsp;
          <a href="https://www.atomicdust.com/atomicdust-two-dotcomm-web-design-awards/" target="_blank" rel="noopener">2020 dotCOMM Gold award</a>,&nbsp;
          <a href="https://www.atomicdust.com/atomicdust-earns-five-2020-marcom-awards/" target="_blank" rel="noopener">2020 MarCom Honorable Mention</a>,&nbsp;
          <a href="https://www.atomicdust.com/seven-american-web-design-awards/" target="_blank" rel="noopener">2020 GDUSA Web Design Award</a>
        </p>
      </li>
      <li>
        <h3><a href="https://screenshield.gg/" target="_blank" rel="noopener">EyePromise ScreenShield Pro</a></h3>
        <p><a href="https://www.atomicdust.com/seven-american-web-design-awards/" target="_blank" rel="noopener">2020 GDUSA Web Design Award</a>,&nbsp; <a href="https://www.atomicdust.com/atomicdust-four-health-wellness-awards/" target="_blank" rel="noopener">2019 GDUSA Health + Wellness Award</a></p>
      </li>
    </ul>
  </div>

  <div class="span1-2 ft-arts">
    <h1>A Few Things I Wrote Down:</h1>
    <ul>
      <li>
        <h3>The Agency + In-House Hybrid</h3>
        <p>10 benefits of working with a digital marketing agency to supplement your in-house team.</p>
        <a href="https://seekbrevity.com/digital-marketing-agency-in-house-hybrid/" class="btn-secondary" target="_blank" rel="noopener">
          Read Article
        </a>
      </li>
      <li>
        <h3>Hidden Features in Web Design</h3>
        <p>How fun features can enhance UX and reinforce branding</p>
        <a href="https://www.atomicdust.com/hidden-features-web-design-wheelhouse/" class="btn-secondary" target="_blank" rel="noopener">
          Read Article
        </a>
      </li>
      <li>
        <h3>Benefits of a Bespoke WordPress Theme</h3>
        <p>How a custom theme can benefit your business and help you achieve those goals.</p>
        <a href="https://northstreetcreative.com/notes/benefits-of-a-bespoke-wordpress-theme/" class="btn-secondary" target="_blank" rel="noopener">
          Read Article
        </a>
      </li>
    </ul>
  </div>
</div>
