<div class="group">
  <div class="span1-1">
    <h1>Featured Work</h1>
    <p class="intro-p">Links to some of the sites I developed while at <a href="http://seekbrevity.com" target="_blank">Brevity</a>. All of these examples were designed by Bob Schuster and built by me unless otherwise noted.</p>
    <p class="intro-p">If you’re interested in seeing more sites I've developed (or any of my design work, illustrations, fun code snippets, etc.), please don’t hesitate to <a href="#connect">reach out</a>.</p>
  </div>
  <ul class="case-studies">
    <li class="span1-3">
      <a href="http://lionforgelabs.com//" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/lfl.jpg">
        </div>
        <h3>Lion Forge Labs</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>CSS & GSAP animations (e.g. the telescope follows your cursor)</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Case study color palettes needed to be customizable by client</p>
      <p>Figured out a way to get those custom variables to translate through various PHP, JS, and Sass files dynamically</p>
    </li>
    <li class="span1-3">
      <a href="http://hipointedrivein.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/hpdi.jpg">
        </div>
        <h3>Hi-Pointe Drive-In</h3>
      </a>
      <h5>My Role in this Project:</h5>
      <p>I worked closely with Bob on the branding (the handwritten script is my contribution) and Ben and I developed this site together.</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>We made up a fun little challenge to see if I could build the "Coming Soon" page for this site in one business day.</p>
      <p>Built the splash page in one day. And there was much rejoicing.</p>
    </li>
    <li class="span1-3">
      <a href="http://boathousestl.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/bhfp2.jpg">
        </div>
        <h3>The Boathouse at Forest Park</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>There’s a subtle little anchor in the footer that “sinks” when you scroll into that part of the page</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Creating similar <a href="http://boathousestl.com/menu/" target="_blank">menu</a> sections that have slightly different layouts without building a whole new module</p>
      <p>A bunch of smart conditional statements that resulted in a very clean, intuitive client experience for building out pages</p>
    </li>
    <li class="span1-3">
      <a href="https://financialnetworkinc.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/fni2.jpg">
        </div>
        <h3>Financial Network Inc.</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>The hovering Request Demo button on the right disappears if there’s another demo call to action</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>Video player in Blueprint LOS menu called for a custom play button, color overlay, parallelogram graphic, and dynamic play/pause functionality.</p>
      <p>Built a custom player that handled those elements, including play/pause functionality when the whole menu was opened or closed.</p>
    </li>
    <li class="span1-3">
      <a href="https://goegyptian.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/ewp.jpg">
        </div>
        <h3>Egyptian Workspace Partners</h3>
      </a>
      <h5>Features of Note:</h5>
      <p>The spinning pyramid on the <a href="http://goegyptian.com/one-source/" target="_blank">One Source</a> page is pure CSS.</p>
      <h5>Problem solved, new skill learned:</h5>
      <p>How can we make an angled button with a drop shadow and interesting hover effect?</p>
      <p>Clip-path and pseudo-elements. The nice part was that the button retained the flexibility to have a long or short call to action.</p>
    </li>
    <li class="span1-3">
      <a href="http://brandingthemoon.com/" target="_blank">
        <div class="ft-work-img">
          <img src="/assets/images/ft-work/btm2.jpg">
        </div>
        <h3>Branding the Moon</h3>
      </a>
        <h5>Features of Note:</h5>
        <p>Maybe a little obvious, but that rotating celestial background was a fun CSS animation to play with</p>
        <h5>Problem solved, new skill learned:</h5>
        <p>The side navigation needed to be interactive on scroll, on click, and also be able to change colors depending on the section background</p>
        <p>Developed a solution using a combination of CSS and jQuery, and we did it on a tight timeline to boot</p>
    </li>
  </ul>
</div>
