<div class="group">

  <div class="span1-2 ft-vid">
    <h1>Featured Video</h1>

    <div class="videoWrapper videoWrapper169 js-videoWrapper">
      <!-- YouTube iframe. -->
      <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
      <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
      <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/61OQgCXAJtE?autoplay=1&modestbranding=1&rel=0"></iframe>
      <!-- the poster frame - in the form of a button to make it keyboard accessible -->
      <button class="videoPoster js-videoPoster" style="background-image:url({{ site.url }}/assets/images/yt-placeholder.jpg);">Play video</button>
    </div>

    <h3>Tell Stories to Improve Communication with Customers</h3>
    <p>A short video in which I explain the importance of storytelling when communicating with clients.</p>
  </div>

  <div class="span1-2 ft-arts">
    <h1>Featured Articles</h1>
    <ul>
      <li>
        <h3>The Agency In-House Hybrid</h3>
        <p>10 benefits of working with a digital marketing agency to supplement your in-house team</p>
        <a href="https://www.youtube.com/watch?v=KRFXQ3iEhhM" class="btn-play" target="_blank">
          Play Video
        </a>
        <a href="https://seekbrevity.com/digital-marketing-agency-in-house-hybrid/" class="btn-secondary" target="_blank">
          Read Article
        </a>
      </li>
      <li>
        <h3>7 Tips for Designing a Great Website</h3>
        <p>Understanding the importance of quality web design</p>
        <a href="https://seekbrevity.com/importance-quality-web-design/" class="btn-secondary" target="_blank">
          Read Article
        </a>
      </li>
      <li>
        <h3>Semantic HTML for Meaningful Webpages</h3>
        <p>Why using semantic markup is important in web design & development</p>
        <a href="https://seekbrevity.com/semantic-markup-important-web-design/" class="btn-secondary" target="_blank">
          Read Article
        </a>
      </li>
    </ul>
  </div>

</div>

<script type="text/javascript" src="/assets/js/yt-player.js" ></script>
