<div class="group">
  <div class="span1-1">
    <h1>Featured Work</h1>
    <p class="feat-p">Links to sites I've designed and/or developed recently. Full case studies coming soon!</p>
  </div>
  <ul class="ft-work">
    <li class="span1-3">
      <a href="https://lionforgelabs.com/" target="_blank">
        <div class="ft-work-img">
          <img src="assets/images/ft-work/lfl4.jpg">
        </div>
        <h3>Lion Forge Labs</h3>
        <h4>Development</h4>
      </a>
    </li>
    <li class="span1-3">
      <a href="https://stlouisofficefurniture.com/" target="_blank">
        <div class="ft-work-img">
          <img src="assets/images/ft-work/wof1.jpg">
        </div>
        <h3>Warehouse of Fixtures</h3>
        <h4>Web Design</h4>
      </a>
    </li>
    <li class="span1-3">
      <a href="https://goegyptian.com/" target="_blank">
        <div class="ft-work-img">
          <img src="assets/images/ft-work/ewp2.jpg">
        </div>
        <h3>Egyptian Workspace Partners</h3>
        <h4>Development</h4>
      </a>
    </li>
    <li class="span1-3">
      <a href="https://financialnetworkinc.com/" target="_blank">
        <div class="ft-work-img">
          <img src="assets/images/ft-work/fni3.jpg">
        </div>
        <h3>Financial Network Inc.</h3>
        <h4>Development</h4>
      </a>
    </li>
    <li class="span1-3">
      <a href="http://brandingthemoon.com/" target="_blank">
        <div class="ft-work-img">
          <img src="assets/images/ft-work/btm2.jpg">
        </div>
        <h3>Branding the Moon</h3>
        <h4>Development</h4>
      </a>
    </li>
    <li class="span1-3">
      <a href="http://boathousestl.com/" target="_blank">
        <div class="ft-work-img">
          <img src="assets/images/ft-work/bhfp.jpg">
        </div>
        <h3>The Boathouse at Forest Park</h3>
        <h4>Development</h4>
      </a>
    </li>
  </ul>
</div>
