<div class="group">
  <div class="span1-1">
    <h2>Qualifications & Experience</h2>
    <p class="intro-p">Or: How I Learned to Stop Worrying and Respond Directly to the Job Post.</p>
  </div>

  <div class="flex-contain">
    <div class="quals flex-grid">
      <div class="span1-2 col">
        <h5>Extensive experience with content management systems, particularly WordPress.</h5>
        <p>I’ve been developing custom themes exclusively with Wordpress for the past couple of years. I am well acquainted the various aspects of theme development, including things like template structure, plugins, and of course searching the ol’ Codex.</p>
      </div>
      <div class="span1-2 col">
        <h5>Code semantic, standards-compliant HTML/CSS.</h5>
        <p>I’ve been writing HTML and CSS for almost 10 years now. I am well-versed in HTML5 and CSS3, as well as preprocessors such as Sass and LESS. Additionally, you can read what I have to say about the importance of semantic HTML in this <a href="https://seekbrevity.com/semantic-markup-important-web-design/" target="_blank">article</a>.</p>
      </div>
    </div>
    <div class="quals flex-grid">
      <div class="span1-2 col">
        <h5>Solid background with Javascript and AJAX using jQuery.</h5>
        <p>Can do. Async functions, dynamic DOM manipulation, no problem. Reloading whole pages is lame.</p>
        <button id="baconbtn">Bacon Button</button>
        <p id="putstuffhere"></p>
        <button id="by_month">July</button>
        <div id="comic_results"></div>
      </div>
      <div class="span1-2 col">
        <h5>Comfortable in Adobe Photoshop and Illustrator.</h5>
        <p>I’d say this gif is representative of how comfortable I am with these two applications.</p>
        <figure>
          <img src="/assets/images/comfy.gif" alt="Dog lounging and typing on laptop"/>
          <figcaption>Although I'm usually more engaged than this doggo.</figcaption>
        </figure>
      </div>
    </div>
    <div class="quals flex-grid">
      <div class="span1-2 col">
        <h5>Solid understanding of PHP.</h5>
        <p>While I was working at <a href="https://drawittoknowit.com/" target="_blank">Draw It To Know It</a>, I delved even deeper into PHP than I typically do building WordPress sites, utilizing the <a href="https://symfony.com/" target="_blank">Symfony</a> framework and <a href="https://twig.symfony.com/" target="_blank">Twig</a> templating engine.</p>
      </div>
      <div class="span1-2 col">
        <h5>HTML Email best practices.</h5>
        <p>Thorough understanding of HTML email best practices. I spearheaded the implementation of MJML in our email development process in order to create emails that were feature-rich, compliant, and easily customized. It also significantly reduced our development time. Read my love letter to MJML in this <a href="http://seekbrevity.com/mjml-simplified-email-marketing/" target="_blank">article</a>.</p>
      </div>
    </div>
  </div>
</div>
