<div class="group">
  <div class="span1-1">
    <h2>Qualifications & Experience</h2>
    <p class="intro-p">The quick facts + salient points.</p>
  </div>

  <div class="flex-contain">
    <div class="quals flex-grid">
      <div class="span1-2 col">
        <h5>Extensive experience with WordPress.</h5>
        <p>I've been building custom WordPress websites in an agency environment for over 3 years. I am well acquainted with the various aspects of theme development, including things like template structure, plugins, functions, and of course the trusty ol’ Codex.</p>
      </div>
      <div class="span1-2 col">
        <h5>Code semantic, standards-compliant HTML/CSS.</h5>
        <p>I’ve been writing HTML and CSS for almost 10 years now. I am well-versed in HTML5 and CSS3, as well as preprocessors such as Sass and LESS. Additionally, you can read what I have to say about the importance of semantic HTML in this <a href="https://seekbrevity.com/semantic-markup-important-web-design/" target="_blank">article</a>.</p>
      </div>
    </div>
    <div class="quals flex-grid">
      <div class="span1-2 col">
        <h5>Drawing from a design background.</h5>
        <p>I have a BFA in Graphic Design and started my career as a designer. While at Brevity, I divided my time between a design and development depending</p>
      </div>
    </div>
    <div class="quals flex-grid">
      <div class="span1-2 col">
        <h5>Solid understanding of PHP.</h5>
        <p>Most of my PHP knowledge comes from what's necessary to build WordPress themes. However, while I was working at <a href="https://drawittoknowit.com/" target="_blank">Draw It To Know It</a>, I delved into PHP a bit deeper, utilizing the <a href="https://symfony.com/" target="_blank">Symfony</a> framework and <a href="https://twig.symfony.com/" target="_blank">Twig</a> templating engine.</p>
      </div>
    </div>
  </div>
</div>
