---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// @font-face
@font-face{
    font-family: 'geomanist';
    src: url('fonts/geomanist/light/geomanist-light-webfont.eot');
    src: url('fonts/geomanist/light/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/light/geomanist-light-webfont.woff') format('woff'),
         url('fonts/geomanist/light/geomanist-light-webfont.ttf') format('truetype'),
         url('fonts/geomanist/light/geomanist-light-webfont.svg#webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'geomanist';
    src: url('fonts/geomanist/regular/geomanist-regular-webfont.eot');
    src: url('fonts/geomanist/regular/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/regular/geomanist-regular-webfont.woff') format('woff'),
         url('fonts/geomanist/regular/geomanist-regular-webfont.ttf') format('truetype'),
         url('fonts/geomanist/regular/geomanist-regular-webfont.svg#webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'geomanist';
    src: url('fonts/geomanist/medium/geomanist-medium-webfont.eot');
    src: url('fonts/geomanist/medium/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/medium/geomanist-medium-webfont.woff') format('woff'),
         url('fonts/geomanist/medium/geomanist-medium-webfont.ttf') format('truetype'),
         url('fonts/geomanist/medium/geomanist-medium-webfont.svg#webfont') format('svg');
    font-weight: 600;
    font-style: normal;
}

// Colors
$white:       #ffffff;
$lt-grey:     #E3E3E3;
$grey:        #6D6D6D;
$black:       #3E3E3F;

$melon:       #FF6861;

$linkedin:    #0077b5;
$dribbble:    #ea4c89;
$github:      #6cc644;
$codepen:     #fcd000;


// Fonts
$base-font-family: 'geomanist', sans-serif; // Google
$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 1.5;

@function em($target, $context: $base-font-size) {
    @return ($target / $context) * 1em;
}

$light:             300;
$regular:           500;
$medium:            600;

$spacing-unit:     30px;
$max-width:        1440px;

// Breakpoints
$mobile:        600px;
$tablet:        900px;
$desktop:       1040px;

// Mixins
@mixin bp($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property:all,$duration:.2s,$timing:linear,$delay:0s) {
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;
}

// Browser Prefixes
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
  -o-transform: $transforms;
	transform: $transforms;
}

//Colors Utilities
@mixin opacity($value:1){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin overlay($color:$white, $opcity:0.5, $position:relative){
	position: $position;
	&:before {
		content: "";
		background: $color;
		@include opacity($opcity);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
		position: absolute;
		z-index: 1;
	}
}

@mixin gradient-overlay ( $side:left,  $color:$black, $opacity:.65, $position:relative ) {
	position: $position;
	&:after {
		@if $side == left{
    	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+75 */
			background: -moz-linear-gradient(left,  rgba($color, $opacity) 0%, rgba($color,0) 75%, rgba($color,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba($color, $opacity) 0%,rgba($color,0) 75%,rgba($color,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba($color, $opacity) 0%,rgba($color,0) 75%,rgba($color,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	  }
	  @else if $side == right{
	  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+25,0.65+100 */
			background: -moz-linear-gradient(left,  rgba($color,0) 0%, rgba($color,0) 25%, rgba($color, $opacity) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba($color,0) 0%,rgba($color,0) 25%,rgba($color, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba($color,0) 0%,rgba($color,0) 25%,rgba($color, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
  	}
  	@else if $side == top{
	  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+75 */
			background: -moz-linear-gradient(top,  rgba($color, $opacity) 0%, rgba($color,0) 75%, rgba($color,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color,0) 75%,rgba($color,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba($color, $opacity) 0%,rgba($color,0) 75%,rgba($color,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+,  Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
  	}
  	@else if $side == bottom{
	  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+25,0.65+100 */
			background: -moz-linear-gradient(top,  rgba($color,0) 0%, rgba($color,0) 25%, rgba($color, $opacity) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba($color,0) 0%,rgba($color,0) 25%,rgba($color, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba($color,0) 0%,rgba($color,0) 25%,rgba($color, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
  	}
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		pointer-events: none;
		right: 0;
		top: 0;
		z-index: 1;
	}
}

// Import partials
@import "base";
@import "grid";
@import "home";
