---
layout: default

social-icons:
  - title: Email
    url: mailto:hello@alexlinek.com
    class: email
  - title: LinkedIn
    url: https://www.linkedin.com/in/alexlinek
    class: linkedin
  - title: GitHub
    url: https://github.com/alexlinek
    class: github
  - title: Dribbble
    url: https://dribbble.com/alexlinek
    class: dribbble
  - title: CodePen
    url: https://codepen.io/alinek/
    class: codepen
---

<div id="home-body">
  <div class="section">
    <div id="intro-text" class="group">
      <div class="span1-1">
        <h2>Hello, Opus team!</h2>
        <p class="intro-p">I’m Alex. Thanks for taking a look at my site! I’m new in town, so I’m just starting to explore opportunities here in Boston. Your work stood out to me, particularly <a href="https://mcgovern.mit.edu/" target="_blank">this website</a>. I’m looking forward to learning more about your process, philosophy, and company culture to see whether we might be a good fit. Congratulations on your updated site launch, by the way; it looks great!</p>
        <p class="intro-p">I’ve been building custom WordPress sites in an agency environment for over 3 years. Prior to that, I did freelance work and acted as a hybrid designer/front-end developer at a couple of startups. For more details on my background and relevant skills...</p>
        <a href="/assets/pdfs/LinekResume2019.pdf" class="btn-primary" target="_blank">
          Check Out My Résumé
        </a>
      </div>
    </div>
  </div>

  <div class="section">
    {% include case-studies-opus.html %}
  </div>
  <!-- <div class="section">
    {% include quals-opus.html %}
  </div> -->

  <!-- <div class="section">
    {% include what-else.html %}
  </div> -->

  <div class="section">
    {% include connect.html %}
  </div>

</div>
