---
layout: default

social-icons:
  - title: Email
    url: mailto:hello@alexlinek.com
    class: email
  - title: LinkedIn
    url: https://www.linkedin.com/in/alex-linek
    class: linkedin
  - title: GitHub
    url: https://github.com/alexlinek
    class: github
  - title: Dribbble
    url: https://dribbble.com/alexlinek
    class: dribbble
  - title: CodePen
    url: https://codepen.io/alinek/
    class: codepen
---

<div id="business-card">
  <div class="section">
    <div id="intro-text" class="group">
      <div class="span1-1">
        <h2>Hello there!</h2>
        <p class="intro-p">I’m a web designer & developer with 10+ years of experience conceptualizing and delivering effective, user-friendly solutions. For more details on my background and relevant skills...</p>
        <a href="/assets/pdfs/LinekResume2021.pdf" class="btn-primary" target="_blank">
          Check Out My Résumé
        </a>
      </div>
    </div>
  </div>

  <div class="section">
    {% include case-studies.html %}
  </div>

  <div class="section">
    {% include connect-new.html %}
  </div>

</div>
